<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            <partial name="../Shared/PartialViews/_navbar.cshtml" />
        </header>
        <main>
            <div class="container mt-4">
                @RenderBody()
            </div>
        </main>
        <footer>
            <partial name="../Shared/PartialViews/_footer.cshtml" />
        </footer>
    </div>
</body>
</html>
